
  h2{
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    align-items: center;
  }
  .form{
   display: flex;
   flex-direction: row;
    min-width: 650px;
   justify-content: center;
   align-items: center;
   
   height: 2.5rem;

  }
  input{
    width: 80%;
    height: 100%;
    border-radius: 0.375rem 0 0 0.375rem;
    border: 1px solid #fff;
    background-color: #f5f5f5; 
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    --tw-ring-offset-shadow: 0 0 #f5f5f5;
    outline: none;
  }
  input::placeholder {
    color: #a0a0a0;
  }
  .buttan{
    width: 3.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0 0.375rem 0.375rem 0;
    cursor: pointer;
    background-color: #000;
  }