.container{
    width: 900px;
    height: 100px;
    border-radius: 15px;
    top: 52px;
    margin-top: -100px;
    margin-left: 200px;
    background-color: #fff;
    z-index: 9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.parts{
    border-right-width: 2px;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: left;
    padding: 5px 5px ;
    margin-left : 50px
}
.part{
    width :20%;
    align-items: left;
    padding: 5px 5px ;
    margin-left : 50px;
}
h1{
    font-size: 0.875rem;
    color: #718096;
    font-weight: 600;
}
p{
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
}